<?xml version="1.0"?>

<launch>
  <arg name="crazyflieSDK" default="~/crazyflie/crazyflie-clients-python/lib" />
  <arg name="uri" default="radio://0/80/2M" />
  <arg name="tf_prefix" default="" />

  <node pkg="crazyflie_ros" type="crazyflie.py" name="crazyflie" output="screen">
    <param name="crazyflieSDK" value="$(arg crazyflieSDK)" />
    <param name="uri" value="$(arg uri)" />
    <param name="tf_prefix" value="$(arg tf_prefix)" />
  </node>
</launch>
