<?xml version="1.0"?>
<launch>
  <arg name="crazyflieSDK" default="/home/whoenig/projects/crazyflie/crazyflie-clients-python/lib" />
  <arg name="uri1" default="radio://0/0/250K" />
  <arg name="frame1" default="/vicon/crazyflie1/crazyflie1" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
    <arg name="crazyflieSDK" value="$(arg crazyflieSDK)" />
  </include>

  <group ns="crazyflie1">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="crazyflie1" />
    </include>

    <include file="$(find crazyflie_controller)/launch/crazyflie2.launch">
      <arg name="frame" value="$(arg frame1)" />
    </include>

    <node name="crazyflie_demo" pkg="crazyflie_demo" type="demo1.py">
      <param name="frame" value="$(frame1)" />
    </node>
  </group>

  <!-- run vicon bridge -->
  <include file="$(find vicon_bridge)/launch/vicon.launch"/>

</launch>
