<?xml version="1.0"?>

<launch>
  <arg name="uri1" default="radio://0/100/2M/E7E7E7E72E" />
  <arg name="uri2" default="radio://0/120/2M/E7E7E7E72D" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="cf1">
    <!--<param name="crazyflie/pid_rate/yaw_kp" value="200"/>-->
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri1)" />
      <param name="tf_prefix" value="cf1" />
      <param name="enable_logging" value="False" />
<!--       <rosparam>
        genericLogTopics: ["log1"]
        genericLogTopicFrequencies: [10]
        genericLogTopic_log1_Variables: ["ctrltarget.yaw", "stabilizer.yaw"]
      </rosparam> -->
    </node>
    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_x" args="log1/values[0] log1/values[1]"/> -->


  </group>

  <group ns="cf2">
    <!--<param name="crazyflie/pid_rate/yaw_kp" value="200"/>-->
    <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
      <param name="uri" value="$(arg uri2)" />
      <param name="tf_prefix" value="cf2" />
      <param name="enable_logging" value="False" />
<!--       <rosparam>
        genericLogTopics: ["log1"]
        genericLogTopicFrequencies: [10]
        genericLogTopic_log1_Variables: ["ctrltarget.yaw", "stabilizer.yaw"]
      </rosparam> -->
    </node>
    <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_x" args="log1/values[0] log1/values[1]"/> -->

    <!-- <node name="crazyflie_demo_hover" pkg="crazyflie_demo" type="Hover.py" output="screen"> -->
    <!-- </node> -->
  </group>

    <node name="crazyflie_demo_hover" pkg="crazyflie_demo" type="Hover.py" output="screen">
    </node>

</launch>
