<?xml version="1.0"?>

<launch>
  <arg name="uri1" default="radio://0/90/2M" />
  <arg name="uri2" default="radio://0/80/2M" />
  <arg name="joy_dev1" default="/dev/input/js0" />
  <arg name="joy_dev2" default="/dev/input/js1" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <group ns="crazyflie1">
    <!--<param name="crazyflie/pid_rate/yaw_kp" value="200"/>-->
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="crazyflie1" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="crazyflie1_broadcaster" args="0 0 0 0 0 0 world crazyflie1/base_link 100" />

    <node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev1)" />
    </node>

    <include file="$(find crazyflie_demo)/launch/ps3.launch">
    </include>

    <node name="crazyflie_demo_controller" pkg="crazyflie_demo" type="controller.py">
    </node>
  </group>

  <group ns="crazyflie2">
    <!--<param name="crazyflie/pid_rate/yaw_kp" value="200"/>-->
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri2)" />
      <arg name="tf_prefix" value="crazyflie2" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="crazyflie2_broadcaster" args="0 0 0 0 0 0 world crazyflie2/base_link 100" />

    <node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev2)" />
    </node>

    <include file="$(find crazyflie_demo)/launch/ps3.launch">
    </include>

    <node name="crazyflie_demo_controller" pkg="crazyflie_demo" type="controller.py">
    </node>
  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find crazyflie_demo)/launch/crazyflie_multi.rviz" />

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/crazyflie1/temperature/temperature /crazyflie2/temperature/temperature"/>

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/crazyflie1/battery /crazyflie2/battery"/>

</launch>
