<?xml version="1.0"?>

<launch>
  <arg name="crazyflieSDK" default="~/crazyflie/crazyflie-clients-python/lib" />
  <arg name="uri" default="radio://0/80/250K" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <group ns="crazyflie1">
    <!--<param name="crazyflie/pid_rate/yaw_kp" value="200"/>-->
    <include file="$(find crazyflie)/launch/crazyflie.launch">
      <arg name="crazyflieSDK" value="$(arg crazyflieSDK)" />
      <arg name="uri" value="$(arg uri)" />
      <arg name="tf_prefix" value="crazyflie1" />
    </include>

    <node name="joy" pkg="joy" type="joy_node" output="screen" >
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <!-- Note that axis IDs are those from the joystick message plus one, to be able to invert axes by specifiying either positive or negative axis numbers.-->
    <!-- Axis 2 from joy message thus has to be set as '3' or '-3'(inverted mode) below-->
    <node name="quadrotor_teleop" pkg="hector_quadrotor_teleop" type="quadrotor_teleop">
      <param name="x_axis" value="5"/>
      <param name="y_axis" value="4"/>
      <param name="z_axis" value="2"/>
      <param name="yaw_axis" value="1"/>
      <param name="x_velocity_max" value="30"/>
      <param name="y_velocity_max" value="-30"/>
      <param name="z_velocity_max" value="60000"/>
      <param name="yaw_velocity_max" value="-200"/>
    </node>
  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find crazyflie_demo)/launch/crazyflie.rviz" />

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/crazyflie1/temperature/temperature"/>

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/crazyflie1/battery"/>

</launch>
